<% events_group(@events).each do |key, events| %>
  <% if events.any? %>
    <div name="events_index_div">
      <% day, pro = key %>
      <div events-day="<%= date_format(day) %>">
        <%= event_day_format(day) %>
        <div events-projectable="<%= projectable_key(pro) %>">
          <%= link_to pro.name, projectable_url(pro), :target => '_blank' %>
          <ul name="events_home">
            <% events.each do |event| %>
              <% cache(event) do %>
                <%= render partial: 'events/event', locals: {event: event} %>
              <% end %>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  <% end %>
<% end %>