<!DOCTYPE html>
<html>
<head>
  <title>Tower</title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
<script type="text/javascript" data-turbolinks-eval=false>
  <% if current_user %>
  App.current_user_id = <%= current_user.id %>;
  App.current_team_id = "<%= current_team_id %>";
  <% end %>
</script>
<%= yield %>
</body>
</html>
